.mall-label {
    width: 40px;
    height: 13px;
}
#sort-button::after {
    position: absolute;
    top: 50%;
    right: 10%;
}
.w-35 {
    width: 35%;
}
.text-small {
    font-size: smaller;
}
.navbar-nav-scroll {
    max-height: var(--bs-navbar-height, 100vh);
}